.container {
    background-color: lightgray;
  }
  
  .card-blue {
    background-color: lightblue;
  }
  
  .card-green {
    background-color: lightgreen;
  }
  
  .card-coral {
    background-color: lightcoral;
  }
  
  .card-salmon {
    background-color: lightsalmon;
  }
  